.Amazon_logo img {
  height: 40px;
}

.contanier {
  display: flex;
  justify-content: space-between;
}
.Main_contanier {
  background-color: black;
  color: white;
}
.Main_contanier a {
  text-decoration: none;
  color: white;
}
.Imput_space {
  width: 60lh;
}
.cart {
  height: 50vh;
}
.Flag img{
  height: 3vh;
}
